.homeDisplay {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#content {
    grid-column: span 2;
    margin-top: 15px;
}

#weatherAside {
    grid-column: 2;
    display: none;
}

#contentHeader h2, #contentHeader form{
    display: inline;
}

#contentHeader {
    padding-bottom: 40px;
}
