.newsPreview {
    border: 2px solid black;
    border-radius: 30px;
    width: 200px;
    color: black;
    padding: 5px;
    background-color: white;
}

.title {
    text-align: center;
}

.newsDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.newsPreview a {
    text-decoration: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #06293885;
    z-index: 10;
  }

.modal {
    max-width: 500px;
    max-height: 300px;
    padding: 10px 20px 50px;
    background: white;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 30%;
}

#modalTitle {
    font-weight: bold;
}

#modalPicture {
    margin-left: 187px;
}

.exitButton {
    top: 0px;
    left: 15px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: black;
}